h1.title
  text-transform: uppercase    
  margin-bottom: 36px    
  font-size: 30px    
  @media (min-width: $tablets)
    font-size: 36px

h2.subtitle    
  font-size: 16px
  text-transform: uppercase
  font-weight: 300

h3
  text-transform: uppercase
  

p
  font-size: 16px
  font-weight: 300  
