h1.title
  text-transform: uppercase    
  margin-bottom: 36px    
  font-size: 30px    
  @media (min-width: $tablets)
    font-size: 36px

h2.subtitle    
  font-size: 16px
  text-transform: uppercase
  font-weight: 300
  margin-top: 5px

h3
  text-transform: uppercase

p
  font-size: 16px
  //font-weight: 300  

img.bg 
  top: 0
  left: 0                 
  width: 100%        
  min-width: 1024px      
  height: auto  

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
  outline: 0px !important
  -webkit-appearance: none


.nav-down
  width: 35px
  height: 35px
  //background: url('arrow-down.png') no-repeat center center
  //background: url('select-arrow-down.png') no-repeat center center
  margin-left: auto
  margin-right: auto
  bottom: 45px
  position: relative
  +fade-on-hover

  @media (min-width: $tablets)
    background: url('arrow-down.png') no-repeat center center
    //bottom: 65px
    
  &:hover
    cursor: pointer

.cover-info 
  position: absolute
  bottom: 60px
  z-index: 10
  color: white
  text-align: left
  width: 300px

  .title 
    text-transform: uppercase    
    margin-bottom: 15px    
    font-size: 30px    
    line-height: 35px

    @media (min-width: $tablets)
      font-size: 36px

  .subtitle
    font-size: 15px
    text-transform: uppercase
    font-weight: 300