.l-clientes

  .bx-pager-item
    display: none !important

  .clientes
    padding: 20px 0px 70px 0px

  .logos  
    +horizontal-list
    
    @media (min-width: $large-display)
      margin-top: 50px

    li.col-md-5
      padding: 0px
      margin: 0px                  
      border: none
      height: 110px
      @media (min-width: $default)         
        height: 210px

      // put border for tablets
      @media (min-width: $large-display)         
        //border: 1px solid #e5e5e5
        border: none
        border-top: none

      &:nth-child(3n)
        border-right: none        
        border-left: none  

      &:nth-child(3n + 1)
        border-left: none  
        border-right: none 

      &.no-border-bottom
        border-bottom: none 
      a 
        position: relative
        top: 50%
        transform: translateY(-50%)
        display: block      

        img              
          display: block
          margin-left: auto
          margin-right: auto
          width: 55%  

          @media (min-width: $default) 
            width: 70%

          @media (min-width: $large-display) 
            width: auto            



      