header  
  position: fixed
  z-index: 10
  right: 0
  left: 0
  top: 0

  .header-container
    display: none

  .navbar-inverse    
    background-color: transparent
    border-color: transparent  

  .navbar-brand.logotipo
    background: url('logotipo.png') no-repeat
    height: 90px
    width: 60px
    margin-top: 10px

  .navbar-brand.logo
    background: url('logo-branca.png') no-repeat
    background-size: contain
    width: 154px
    margin-top: 10px
    display: none   


  .navbar-toggle.menu
    display: block !important
    margin-top: 20px
    border-color: white
    border-radius: 0px
    width: 34px
    height: 34px
    margin-right: 0px
    
    span.icon-bar
      margin-left: -4px
      width: 20px
    &:hover
      background: none  
    &:focus
      background: none



.headroom 
  transition: transform 200ms linear

.headroom--pinned 
  transform: translateY(0%)
  &.headroom--not-top
    display: block
    width: 100%
    background-color: #363635
    height: 75px

    .logotipo
      display: none

    .logo
      display: block 

  &.headroom--top      
    .navbar-inverse    
      background-color: transparent
      border-color: transparent

    .logotipo
      display: block 
      
    .logo
      display: none 

.headroom--unpinned
  transform: translateY(-100%)

        
        