header  
  position: fixed
  z-index: 10
  right: 0
  left: 0
  top: 0

  .header-container
    display: none

  .navbar-inverse    
    background-color: transparent
    border-color: transparent  

  .navbar-brand.logotipo
    background: url('logotipo.png') no-repeat
    height: 90px
    width: 60px
    margin-top: 10px

  .navbar-brand.logo
    background: url('logo-branca.png') no-repeat
    background-size: contain
    width: 154px
    margin-top: 10px    
    margin-bottom: 14px


  .navbar-toggle.menu
    display: block !important
    margin-top: 20px
    border-color: white
    border-radius: 0px
    width: 34px
    height: 34px
    margin-right: 0px

    span.icon-bar
      margin-left: -4px
      width: 20px
    &:hover
      background: none  
    &:focus
      background: none

  .header-bar-container
    background-color: #363635
  
  .header-bar-container, .header-top-container 
    display: none

#header.headroom 
  transition: transform 200ms linear

  &.headroom--unpinned
    transform: translateY(-100%)
    .header-bar-container
      display: none

  &.headroom--pinned 
    transform: translateY(0%)
    .header-bar-container
      display: block

  &.headroom--not-top
    .header-top-container  
      display: none !important

  &.headroom--top      
    .header-bar-container
      display: none

    .header-top-container  
      display: block 



      
      