.slider-container
  .bx-viewport, .bx-wrapper
    position: relative
    top: 0
    left: 0
    border: none !important
    margin: 0px auto

    .bx-controls .bx-pager    
      bottom: 20px
      a.active 
        background: white

  .bx-controls
    display: none

  .bxslider
    li.item

      img.bg 
        top: 0
        left: 0                 
        width: 100%        
        min-width: 1024px      
        height: auto  
        //@media (min-width: $tablets)
          //min-width: 768px
        //@media (min-width: $default)
          //min-height: 100%
          //min-width: 1024px

      .info
        position: relative
        //bottom: 150px
        margin-top: -150px
        z-index: 10
        color: white
        text-align: right
        margin-right: 10px

        .obra
          font-size: 32px
          text-transform: uppercase
          font-weight: 300

        .cliente
          font-size: 26px
          font-weight: 300

        .descricao
          font-size: 14px
          width: 300px
          float: right

  .bx-wrapper 
    .bx-pager.bx-default-pager a
      background: transparent
      border-radius: 0px
      border: 1px solid white

.info-content  
  p 
    margin-bottom: 23px
    line-height: 25px

  a.default-button
    color: $text-color
    text-transform: uppercase
    border: 1px solid $text-color
    padding: 24px
    margin-top: 5px
    display: inline-block
    font-size: 14px
    background: url("arrow-icon.jpg") 85% 50% no-repeat
    width: 165px

    &:hover
      text-decoration: none
      +transition(0.3s) 


.sobre-container
  height: 600px    
  background: white

  @media (min-width: $tablets)
    background: url("sobre-home-cover.png") 200% 50% no-repeat

  @media (min-width: $default)  
    background: url("sobre-home-cover.png") 100% 50% no-repeat

  @media (min-width: $large-display) 
    background: url("sobre-home-cover.png") center right no-repeat

  .info-content
    margin-top: 60px
    float: left
    @media (min-width: $tablets)
      width: 350px

.oque-fazemos-container  
  background-color: #335461  
  color: #dbdbdb 
  background: #335461

  @media (min-width: $tablets)
    background: url("oque-fazemos-home-cover.png") -170%% 50% no-repeat #335461

  @media (min-width: $default)
    background: url("oque-fazemos-home-cover.png") -25% 50% no-repeat #335461

  @media (min-width: $large-display)          
    background: url('oque-fazemos-home-cover.png') center left no-repeat  #335461

  .info-content    
    margin-top: 50px
    margin-bottom: 50px   
    float: left


    @media (min-width: $tablets)
      float: right
      width: 400px

    .content-block  
      margin-top: 20px
      display: inline-block

      span 
        float: left        
        width: 30px
        height: 30px

        @media (min-width: $tablets)
          width: 60px
          height: 60px

        &.icon-planejamento          
          background: url("planejamento.png") center center no-repeat
          background-size: cover 

        &.icon-canteiro          
          background: url("canteiro.png") center center no-repeat
          background-size: cover 

        &.icon-acompanhamento          
          background: url("acompanhamento.png") center center no-repeat
          background-size: cover
      .info        
        float: left
        display: block        
        margin-left: 20px  
        width: 80%        

        @media (min-width: $tablets)                  
          width: 315px
          

        h2 
          margin-top: 0px
          text-transform: uppercase
          font-size: 18px
          font-weight: normal
          color: #f0f0f0
        p
      


