.slider-container
  .bx-viewport, .bx-wrapper
    position: relative
    top: 0
    left: 0
    border: none !important
    margin: 0px auto

    .bx-controls .bx-pager    
      bottom: 20px
      a.active 
        background: white

  .bxslider
    li.item
      img.bg 
        /* Set rules to fill background */
        min-height: 100%
        min-width: 1024px
        
        /* Set up proportionate scaling */
        width: 100%
        height: auto
        
        /* Set up positioning */
        top: 0
        left: 0

        @media screen and (max-width: 1024px) 
          left: 50%
          margin-left: -512px   /* 50% */

      .info
        position: absolute
        bottom: 75px
        right: 150px
        z-index: 10
        color: white
        text-align: right

        .obra
          font-size: 24px
          text-transform: uppercase

        .cliente
          font-size: 18px
        .descricao
          font-size: 14px
          width: 300px


.info-content
  h1.title
    text-transform: uppercase
    font-size: 36px
    margin-bottom: 36px    

  p 
    margin-bottom: 23px
    line-height: 25px

  a.default-button
    color: $text-color
    text-transform: uppercase
    border: 1px solid $text-color
    padding: 24px
    margin-top: 5px
    display: inline-block
    font-size: 14px
    background: url("arrow-icon.jpg") 85% 50% no-repeat
    width: 165px

    &:hover
      text-decoration: none
      +transition(0.3s) 


.sobre-container
  height: 600px  
  background: url('sobre-home-cover.png') center right no-repeat  

  .info-content
    margin-top: 60px
    float: left
    width: 350px

.oque-fazemos-container
  
  background-color: #335461  
  background: url('oque-fazemos-home-cover.png') center left no-repeat  #335461
  //opacity: 0.3
  color: #dbdbdb 

  .info-content
    margin-top: 30px
    float: right
    width: 400px

    .content-block  
      margin-top: 20px
      display: inline-block

      span.icon-planejamento
        background: url("planejamento.png") center center no-repeat
        width: 60px
        height: 60px
        float: left

      span.icon-canteiro
        background: url("canteiro.png") center center no-repeat
        width: 60px
        height: 60px
        float: left

      span.icon-acompanhamento
        background: url("acompanhamento.png") center center no-repeat
        width: 60px
        height: 60px
        float: left

      .content-info        
        float: left
        display: block
        width: 315px
        margin-left: 20px      

        h2 
          margin-top: 0px
          text-transform: uppercase
          font-size: 18px
          font-weight: normal
          color: #f0f0f0
        p
      


