.royalSlider 
  position: relative
  left: 0
  top: 0
  bottom: 0
  right: 0
  height: auto
  width: auto


.rsDefault 
  .rsBullets    
    background: none
    bottom: 10px
    height: 20px

    span
      border-radius: 0px
      background: none
      border: 1px solid white

.rsSlide 
  min-height: 300px

.rsPreloader 
  position: relative
  width: 31px
  height: 31px
  background-image: url('preloader-white.gif')
  left: 50%
  top: 50%
  margin-left: -10px
  margin-top: -10px   
 